/* This code is for maing background white */
.back-white {
    background-color: #ffffff;
}
.color-white{
    background-color: #E85F5C;
}

/* This code is for maing background white ends here*/
/* The below section is for filter and sorting options */
.count-down-div{
    background-color: #fff;
    border-bottom: 1px solid #8E8E8E;
    padding:11px;
    text-align: center;
}
.BgWhite{
    margin: 20px 0;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#checkboxes{
    display: none;
    position: absolute;
    border: 1px solid #8E8E8E;
}
#checkboxes label{
    display: block;
    background: #FFFFFF;
    padding: 10px 0px 13px 5px;
    font-size: 14px;
    font-weight: 500;
    width: 23rem;
}
.select-option {
    display: flex;
}

.select-option select{
    background-color: #FFFFFF;
    border: none;
    outline: none;
    border-bottom: 1px solid #8E8E8E;
    padding-left: 14px;
}
.select-2{
    display: none;
}
.select-option p{
    font-weight: 600;
    font-size: 12px;
    margin-right: 8px;
}
.filter{
    background: #7692FF;
    height: 41px;
    width: 181px;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
}
.filter-div svg{
    display: none;
}
/* The above section is for filter and sorting options */
/* The below code is for making imagies responsive through grid */
.event-image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3.36%;
    row-gap: 7.7%;
    margin-bottom: 15.2%;
    /* background-color: #fff !important; */
}
.event-back-white{
    background-color: #fff !important;
}

.event-image-grid img {
    width: 100%;
}

.cmn-img {
    width: 100%;
}
.image-info {
    font-family: Mont;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 4%;
}

.cmn-img img {
    width: 100%;
    height: auto;
}

.price {
    display: flex;
    justify-content: center;
    font-weight: 600 !important;
}
.top-btm-m {
    margin-bottom: 14.1%;
}
/* The below code is for making imagies responsive through grid ends here */

.bg-color-white{
    background-color: #ffffff;
}
/* The below code contains the about us of event page */
section h5 {
    padding-top: 4.1%;
}

.we-heading h3 {
    padding: 0 0 0 20px;
    text-align: center;
}
.container-set{
    max-width: 1196px;
    /* text-align: center; */
    margin: 0 auto;
}

/* The below code contains the about us of event page */

/* media querry @980 starts from here
@media screen and (max-width:980px) {
    
}

media querry @980 ends from here */

/* media querry @980 starts from here */
@media screen and (max-width:768px) {
    .top-btm-m {
        margin-bottom: 20%;
    }
}

/* media querry @980 ends from here */
/* media querry @980 starts from here */
@media screen and (max-width:520px) {
    .filter-div button{
        display: none;
    }
    .filter-div svg{
        display: block;
    }
    .margin-setting {
        margin: 0 1px !important;
    }

    .event-text {
        padding: 9% 0 !important;
    }
    .font-s-40px {
        font-size: 30px !important;
    }
    .text-center{
        text-align: left !important;
        padding-left: 20px;
    }
    .we-heading h3 {
        padding: 0 10px 0 10px;
        
    }
    
    .event-image-grid {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 50%;
    }

    .top-btm-m {
        margin-bottom: 35%;
    }

    .contact {
        padding: 40px 0px 40px 0px !important;
    }

}

/* media querry @980 ends from here */