/* This code is for maing background white */
body {
    background-color: #fff !important;
}

.bg-color-blue,
.bg-color-blue-white {
    background-color: #F6F8F3;
}

.bg-color-blues {
    padding: 47px 0;
    background-color: #F6F8F3;
}


/* This code is for  background white ends here*/
/*The code for heading of product page starts here  */
.painting-heading h1 {
    background: #7692FF;
    color: #F6F8F3;
    padding: 41px 20px 41px 0px;
}

/*The code for heading of product page starts here  */

/*the gird imgies and cart starts here  */
.imgaies-cart-text {
    display: flex;
    width: 100%;
    margin: 64px 0 68px 0;
}

.painting-grid-images {
    width: 50%;
  
}

.sub-img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 19px;
    padding: 17px 0 0px 0;
}

.sub-img img:hover {
    opacity: 0.9;
}

.hero-img {
    position: relative;
    padding-top: 100%;
}

.hero-img img {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sub-img img {
    width: 100%;
    display: block;
}
.cart-text {
    width: 50%;
    padding-left: 71px;
}


.painting-grid-images img {
    width: 100%;
}
.mainImg.main-active{
    display: block;
}
.mainImg{
    display: none;
}
/* the gird imgie ends here */


/* -----------The text beside grid imagies starts from here --------*/
.cart-flex {
    display: flex;
    width: 100%;
}

.add-buy-flex {
    display: flex;
    width: 100%;
}

.btn-remove-flex {
    display: flex !important;
    flex-direction: row !important;
}

.value-btn {
    display: flex;
    border: 2px solid #E7E7E7;
    width: 85px;
    align-items: center;
    justify-content: center;
}

#totalClicks {
    padding: 0 35px 0 10px;
    font-weight: 600;
    font-size: 14px;
}

.value-flex {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

.value-flex a {
    cursor: pointer;
}

.add-buy-flex a {
    text-decoration: none;
    color: #F6F8F3;
}

.cart-text h2 {
    padding-bottom: 2%;
}

.star-number {
    font-size: 10px;
    line-height: 13.5px;
}

.add-cart {
    margin-left: 19px;
    width: 203px;
    height: 50px;
    background: #E85F5C;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-cart:hover {
    background-color: #7692FF;
}

.buy-now {
    width: 203px;
    height: 50px;
    margin-left: 19px;
    background: #7692FF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buy-now:hover {
    background-color: #E85F5C;
}

.buy-none-block {
    margin: 20px 0 0 0;
    height: 50px;
    width: 100%;
    background-color: #7692FF;
    display: none;
}

.buy-none-block a {
    text-decoration: none;
    color: #fff;
}

.border-1px {
    margin-top: 28px;
    border-top: 1px solid #8E8E8E;
}

.share-logo {
    display: flex;
    margin-top: 19px;

}

.svg-img {
    margin-left: 63px;
}

.svg-img img {
    margin-right: 20px;
}

/* the text beside banner image ends from here  */


/*the description and reciew section starts from here  */
.tab {
    overflow: hidden;
}

.tablinks {
    text-align: center;
    border: none;
    outline: none;
    background: #ffff;
    cursor: pointer;
}


.tabcontent{
    display:none;
}
.tabcontent.tab-content-active{
    display: block;
}
.tablinks.tab-active{
  border-bottom: 1px solid #8E8E8E;
  cursor: pointer;
}


#Description {
    padding: 25px 140px;

}

#Review {
    margin: 2% 0;
    padding: 0 2% 2% 2%;
}

.tabcontent p {
    font-weight: 500;
}

.tabcontent h4 {
    padding-top: 2%;
    font-size: 30px;
    font-weight: 300;
}

.border-bl {
    border: 2px solid #f2f2f2;
    padding: 0;
}

/*the description and review section ends here  */

/* the footer subscribe button */
.subscribe {
    padding-bottom: 10px;
}

@media screen and (max-width:1020px) {

    .add-cart,
    .buy-now {
        width: 150px;
        height: 50px;
    }

}

@media screen and (max-width:980px) {

    .add-cart,
    .buy-now {
        width: 120px;
        height: 50px;
    }

    #Description {
        padding: 20px 40px;
    }
}

@media screen and (max-width:768px) {
    .add-cart {
        width: 92% !important;
    }

    .add-cart,
    .buy-now {
        width: 100%;
        height: 50px;
    }

    .imgaies-cart-text {
        display: flex;
        flex-direction: column;
    }

    #Description {
        padding: 20px 0;
    }

    .cart-text {
        width: 100%;
        padding-left: 0px;
        margin-top: 30px;
    }

    .painting-grid-images {
        width: 100%;
    }
}

/* media screen @520 starts from here */
@media screen and (max-width:520px) {
    .nav-section {
        background-color: #fff !important;
    }

    .cart-text {
        margin-top: 0px;
    }

    .add-cart {
        width: 203px;
        height: 50px;
    }

    .add-buy-flex {
        flex-direction: column;
    }

    .buy-now-block {
        display: none;
    }

    .buy-none-block {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #Review {
        margin: 4% 0;
    }

    .svg-img {
        margin-left: 32px;
    }

    .line-spacing {
        line-height: 30px !important;
    }
}

/* media screen @520 ends here  */